body {
    /* width: 90%;
    padding: 0;
    margin: 40px auto; */
    max-width: 1000px;
    margin: auto;
    background-color: antiquewhite ;
}

/* Set image size*/
.logo > img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    flex: 0 0 30px;
}

.card > img {
    max-width: 200px;
    border-radius: 10px;
    margin: 8px;
}

/* Set up header */
.header {
    display: flex;
    background-color: coral;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
} 

/* Left hand side */
.logo {
    width: 150px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
}
.logo > h1 {
   font-size: larger;
   flex: none;
   font-weight: 700;
   color: rgba(154, 205, 50, 1);
}

/* Centre */
.searchbox {
   padding: 16px;
   flex: 1 1 0;
   display: flex;
   justify-content: center;
}

.searchbox > input[type="text"] {
   text-align: center;
   height: 19px;
   flex: 1 1 auto;
   max-width: 400px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-color: aliceblue;  
   background-color: aliceblue;
}

.searchbox > input[type="button"] {
   border-top-right-radius: 15px;
   border-end-end-radius: 15px;
   border-color: aliceblue;
   background-color: aliceblue;
   cursor: pointer;
}

/* Right hand side */
.right-links {
    width: 200px;
    display: flex;
    gap: 16px;
    padding: 0 16px;
    justify-content: flex-end;
}

.right-links > a {
   color: rgba(95, 121, 77, 0.7);
   text-decoration: none;
}

/* Set up intro block */
.intro-block{
    display: flex;
    background-color: burlywood;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
    padding: 0px 20px;
    align-self: flex-start;
}

.intro-text > p,h1 {
    padding: 0;
    margin: 0;
    text-align: end;
    color: hsla(208, 100%, 97%, 0.741);
}

.intro-img {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 200px;
}

.intro-img > p {
    text-align: end;
    font-size: small;
    color: rgba(6, 6, 6, 0.551);
    padding: 0;
    margin: 0;
}

/* Cards section */
.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 20px;
    background-color: beige;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
}

.card > p {
    color: rgba(63, 47, 33, 0.632);
    text-align: center;
    padding: 0;
    width: 200px;
}

/* Quote Card */
.quote-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    background-color: burlywood;
    padding: 25px;
}

.quote-card > p {
    margin: 0;
    color: rgba(63, 47, 33, 0.632);
    padding: 0;
}

.quote-card > .quote {
    text-align: right;
    font-style: italic;
}

.quote-card > .author {
    
    font-weight: bold;
}

/* Invitation to news letter */
.ad {
    margin: 0;
    padding: 10px 20px;
    background-color: rgb(153, 163, 116);
}

.invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(141, 141, 114);
    padding: 20px;
    border-radius: 10px;
    border: 2px white;
}

.invite > input {
    border-radius: 15px;
    border-color: rgba(133, 94, 94, 0.666);
    background-color: rgb(124, 179, 228);
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
}

.invite > p {
    color: rgba(63, 47, 33, 0.632);
    padding: 0;
    margin: 0;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: rgba(183, 177, 177, 0.895);
}

.footer > p,a {
    color: rgba(63, 47, 33, 0.632);
    margin: 0;
}

.footer > p {
    padding: 2px;
    background-color: rgba(49, 76, 67, 0.301);
    box-shadow: 2px 2px 0 0 rgba(44, 50, 33, 0.87);
}

.footer > a {
    text-decoration: none;
    padding: 3px 10px;
    background-color: rgba(133, 150, 103, 0.49);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(44, 50, 33, 0.49);
}