body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo > img {
    max-width: 30px;
    border-radius: 15px;
}

.intro-img > img {
    max-width: 200px;
 }

.card > img {
    max-width: 300px;
}